/* HEXCODES */
/* Dark blue: #3d70b2 */
/* Light blue: #5596e6 */
/* Cyan: #41d6c3 */
/* White: #ffffff */

.InfoCard {
    width: 20vw;
    height: 40vh;
    background-color: #41d6c3;
    border-radius: 10px;

    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-color: black;
    border: 1px solid black;

    margin-top: 10vh;

    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;}


.InfoCardContainer {
        margin: auto;
        width: 100%;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 200px;
        
}

.Title {
    display: flex;
    justify-content: center;
    font-weight: Bold;
    font-family:'Courier New', Courier, monospace;
    margin-top: 6vw;
    font-size: xx-large;
    color: white;

}

.cardText {
    margin-left: 2vw;
    margin-right: 2vw;
}

.cardTitle {
    font-size: xx-large;
    margin-bottom: 4vh;
}




@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #333;
}

.footer {
  position: relative;
  width: 100%;
  background: #aaaaaa;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30vh;
  box-shadow: rgba(0, 0, 0, 0.3) 20px 19px 38px, rgba(0, 0, 0, 0.22) 20px 15px 12px;

}

.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.menu__item {
  list-style: none;
}


.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}