

.NavBar {
    background-color: grey;
    overflow: hidden;
    border: 4px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.NavBar img {
    float:  left;
}

.NavBar a  {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 24px 16px;
    font-size: 20px;
  }

  /* Change the color of links on hover */
.NavBar a:hover {
    background-color: lightgray;
    border-style: solid;
    border-color: black;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .NavBar a.active {
    background-color: #04AA6D;
    color: lightgray;
    border-color: black;
  }

  .CourseTitle {
    position: absolute;
    right: 1%;
    font-size: xx-large;
    color: white;
  }


#promptBox{
width: 15rem;
height: 12rem;
background-color: gray;
border-radius: 1rem;
display: flex;
flex-direction: column;
justify-content: space-between;
outline: #1A1A1A solid 2px;

}

#promptBoxText{
max-height: fit-content;
max-width: fit-content;
margin-top: 2rem;
min-width: 8;
min-height: 2rem;
align-self:center;
}

.buttonContainer{
max-height: 8rem;
display:flex;
flex-direction: row;
align-content:center ;
}


/* CSS */
.promptButton {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0.5rem;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.promptButton:disabled {
  pointer-events: none;
}

.promptButton:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.promptButton:active {
  box-shadow: none;
  transform: translateY(0);
}