.PageView{
    background-color: aqua;
    width: 99vw;
    height: 88vh;
    display: flex;
    flex-direction: row;
}

.startSimOutput{
    width: 65%;
    height: 90%;
    background-color: black;
    margin: auto;
    display: flex;
    flex-direction: column;

}

.startSimulation{
    width: 95%;
    height: 15%;
    background-color: green;
    margin: auto;

}

#output{
    width: 95%;
    height: 80%;
    background-color: azure;
    margin: auto;
    white-space: pre-line;
    overflow: scroll;

}

.phoneSim{
    width: 30%;
    height: 90%;
    background-color: brown;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.acStatus{
    width: 80%;
    height: 30%;
    background-color: blue;
    margin: auto;
}

.appModule{
    width: 80%;
    height: 65%;
    background-color: yellow;
    margin: auto;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

