.PageView{
    background-color: #333;
    width: 99vw;
    height: 88vh;
    display: flex;
    flex-direction: row;
}

.startSimOutput{
    width: 65%;
    height: 90%;
    background-color: black;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;

}

.startSimulation{
    width: 98%;
    height: 15%;
    background-color: green;
    margin: auto;
    font-size: 2rem;
    border-radius: 10px;
    border: green;

}

.startSimulation:hover{
    background-color: rgb(51, 189, 51);
    transition-duration: 125ms;
}

.startSimulation:active{
    background-color: black;
}

#infoText{
    font-size: 1rem;
    color: white;
    height: 2%;
    width: 98%;
    margin-left: 1%;
}

#output{
    width: 98%;
    height: 78%;
    background-color: azure;
    margin: auto;
    white-space: pre-line;
    overflow: scroll;
    border-radius: 2px;

}

.phoneSim{
    width: 25%;
    height: 90%;
    background-color: black;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.acStatus{
    width: 90%;
    height: 30%;
    background-color: black;
    margin: auto;
}

.appModule{
    width: 95%;
    height: 65%;
    background-color: azure;
    margin: auto;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    border-radius: 5px;
}

.timeTab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.timeTab button {
    background-color: inherit;
    width: 50%;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.2s;
}

.timeTab button:hover {
    background-color: #ddd;
}

.timeTab button.active {
    background-color: #ccc;
}

.chartTab {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    position: relative;
}

.dataChart {
    width: 100%;
    height: 50%;
}



